# mybatis-plus code generator

generator.author=wiflish
generator.parent.package={{packageName}}.infra

generator.db.url=jdbc:mysql://localhost:3306/{{dbName}}?useUnicode=true&characterEncoding=utf8
generator.db.username={{dbUsername}}
generator.db.password={{dbPassword}}
generator.db.include.table_prefix_names=t_
generator.db.include.table_names=t_task