package {{packageName}}.infra.util;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.wiflish.luban.core.dto.query.PageQuery;

/**
 * @author wiflish
 * @since {{currentDate}}
 */
public class MybatisPlusUtil {
    /**
     * 转化为mybatis-plus分页对象.
     *
     * @param <T>
     * @return
     */
    public static <T> Page<T> convertPage(PageQuery pageQuery) {
        Page<T> page = new Page<>();
        page.setCurrent(pageQuery.getPageNo());
        page.setSize(pageQuery.getPageSize());
        page.setSearchCount(pageQuery.getNeedTotalCount());

        return page;
    }
}
