package {{packageName}}.domain.repository;

import com.wiflish.luban.core.dto.PageResponse;
import {{packageName}}.domain.entity.Task;
import {{packageName}}.dto.TaskDTO;
import {{packageName}}.dto.query.TaskQuery;

/**
 *
 * @author wiflish
 * @since {{currentDate}}
 */
public interface TaskRepository {
    /**
     * 保存.
     *
     * @param task
     * @return TaskID
     */
    Long save(Task task);

    /**
     * 更新
     * @param task
     */
    void update(Task task);

    /**
     * 根据id查询.
     *
     * @param taskId
     * @return
     */
    Task selectById(Long taskId);

    /**
     * 根据条件查询.
     *
     * @param query
     * @return
     */
    PageResponse<TaskDTO> selectByCriteria(TaskQuery query);
}
