package {{packageName}}.dto.cmd;

import com.wiflish.luban.core.dto.Command;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.io.Serializable;

/**
 * 修改任务状态.
 *
 * @author wiflish
 * @since {{currentDate}}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class EditTaskStatusCmd extends Command implements Serializable {
    private Long id;
    private Integer status;
}
