package {{packageName}}.constant;

/**
 * @author wiflish
 * @since {{currentDate}}
 */
public enum TaskStatusEnum {
    TODO(1, "待开始"),
    DOING(2, "进行中"),
    DONE(3, "已完成"),;
    private String name;
    private Integer value;

    TaskStatusEnum(Integer value, String name) {
        this.value = value;
        this.name = name;
    }

    public String getName() {
        return name;
    }

    public Integer getValue() {
        return value;
    }
}
