<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
           <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
           <charset>utf8</charset>
       </encoder>
   </appender>

   <root level="INFO">
       <appender-ref ref="CONSOLE"/>
   </root>

   <!--应用日志, 单元测试时用DEBUG.-->
   <logger name="com.wiflish.ddd.core.web" level="DEBUG"/>
</configuration>
