package {{packageName}}.infra.mapper;

import {{packageName}}.infra.po.TaskPO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * <p>
 * 任务. Mapper 接口
 * </p>
 *
 * @author wiflish
 * @since {{currentDate}}
 */
public interface TaskMapper extends BaseMapper<TaskPO> {

}
