package {{groupId}};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;

/**
 * 启动类
 *
 * @author {{author}}
 * @since {{currentDate}}
 */
@SpringBootApplication
@ComponentScan(value = {"{{groupId}}", "com.wiflish.luban"})
@MapperScan("{{groupId}}.**.infra.mapper")
public class {{applicationName}}Application {
    public static void main(String[] args) {
        SpringApplication.run({{applicationName}}Application.class, args);
    }
}