# server
server:
  port: {{port}} # 应用服务 WEB 访问端口

spring:
  application:
    name: {{artifactId}}

{{#h2}}
  datasource:
    url: jdbc:h2:file:/tmp/{{artifactId}}
    username: root
    password: root
  sql:
    init:
      schema-locations: classpath:h2/schema.sql
      mode: always
  h2:
    console:
      enabled: false
      settings:
        web-allow-others: true
{{/h2}}

{{#polaris}}
  cloud:
    polaris:
      address: grpc://localhost:8091
      namespace: default
      discovery:
        enabled: true
      config:
        enabled: true
        refresh-type: reflect # 反射刷新，提高性能.
        data-source: local # 本地模式, 默认本地模式.
        auto-refresh: true # 自动刷新
{{/polaris}}

{{#nacos}}
# spring cloud alibaba config
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
{{/nacos}}

{{#mysql}}
  datasource:
    url: jdbc:mysql://localhost:3306/demo?useUnicode=true&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:  root
    hikari:
      connection-timeout: 3000
      idle-timeout: 600000
      keepalive-time: 30000
      max-lifetime: 1800000
      maximum-pool-size: 20
      minimum-idle: 5
      pool-name: LubanHikariCP
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 20
      async-init: true
  sql:
    init:
      schema-locations: classpath:mysql/schema.sql
      mode: always
{{/mysql}}

{{#mybatis}}
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    db-config:
      logic-delete-field: deleted
{{/mybatis}}

{{#spring-security}}
logging:
  level:
    org.springframework.security.web: DEBUG
{{/spring-security}}

{{#springdoc}}
springdoc:
  packagesToScan: {{packageName}}.web.controller
  api-docs:
    enabled: true
{{/springdoc}}

luban:
  mybatis:
    autofill:
      enable: false

---
# 生产环境配置.
spring:
  config:
    activate:
      on-profile:
        - prod

{{#springdoc}}
springdoc:
  api-docs:
    enabled: false
{{/springdoc}}
