package {{packageName}}.dto.query;

import com.wiflish.luban.core.dto.query.PageQuery;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * 任务查询.
 *
 * @author wiflish
 * @since {{currentDate}}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class TaskQuery extends PageQuery {
    private String taskName;

    private Integer status;
}
