<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiflish.luban.samples.ddd.infra.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wiflish.luban.samples.ddd.infra.po.TaskPO">
        <result column="ID" property="id" />
        <result column="VERSION" property="version" />
        <result column="DELETED" property="deleted" />
        <result column="CREATE_ID" property="createId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_ID" property="updateId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="NAME" property="name" />
        <result column="REMARK" property="remark" />
        <result column="STATUS" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        VERSION,
        DELETED,
        CREATE_ID,
        CREATE_TIME,
        UPDATE_ID,
        UPDATE_TIME,
        NAME, REMARK, STATUS
    </sql>

</mapper>
