package {{packageName}}.infra.generator;

/**
 * @author wiflish
 * @since {{currentDate}}
 */
public class CodeGeneratorTest {
    public static void main(String[] args) {
        CodeGenerator.generate();
    }
}
