package {{packageName}}.infra.converter;

import cn.hutool.core.bean.BeanUtil;
import {{packageName}}.domain.entity.Task;
import {{packageName}}.dto.TaskDTO;
{{#mysql}}import {{packageName}}.infra.po.TaskPO;{{/mysql}}

import java.time.LocalDateTime;

/**
 * @author wiflish
 * @since {{currentDate}}
 */
public class TaskConverter {
{{#mysql}}
    /**
     * @param task
     * @return
     */
    public static TaskPO toTaskPO(Task task) {
        TaskPO taskPO = new TaskPO();
        BeanUtil.copyProperties(task, taskPO);
        LocalDateTime now = LocalDateTime.now();
        if (taskPO.getCreateTime() == null) {
            taskPO.setCreateTime(now);
        }
        taskPO.setUpdateTime(now);
        return taskPO;
    }

    public static Task toTask(TaskPO taskPO) {
        Task task = new Task();
        BeanUtil.copyProperties(taskPO, task);
        return task;
    }

    public static TaskDTO toTaskDTO(TaskPO taskPO) {
        TaskDTO taskDTO = new TaskDTO();
        BeanUtil.copyProperties(taskPO, taskDTO);
        return taskDTO;
    }
{{/mysql}}
    public static TaskDTO toTaskDTO(Task task) {
        TaskDTO taskDTO = new TaskDTO();
        BeanUtil.copyProperties(task, taskDTO);
        return taskDTO;
    }
}
